<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782679635578-tiu2h291914dgivb0g5ep7peh6pdojfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782679635578-tiu2h291914dgivb0g5ep7peh6pdojfi</string>
	<key>API_KEY</key>
	<string>AIzaSyApM5JktdLSDZLrOaCaT9ObgBMrw_QcuhE</string>
	<key>GCM_SENDER_ID</key>
	<string>782679635578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.extremeconch.CCCTripSpiltr</string>
	<key>PROJECT_ID</key>
	<string>tripsplittr</string>
	<key>STORAGE_BUCKET</key>
	<string>tripsplittr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782679635578:ios:c2dc7c12ffa401b0fe6dc3</string>
	<key>DATABASE_URL</key>
	<string>https://tripsplittr.firebaseio.com</string>
</dict>
</plist>